*
{
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img
{
    max-width: 100%;
}

.mobile-container
{
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331A;
    width: 400px;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input 
{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

header button
{
    background-color: transparent;
    border: none;
    color: #eee;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container
{
    background-color: rgb(233, 207, 233);
    padding: 1rem;
    text-align: center;
}

.fav-meals
{
    display: flex;
    list-style-type: none;
    padding: 0;
}

.fav-meals li
{
    width: 85px;
}

.fav-meals li img
{
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331A;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span
{
    font-size: 0.9rem;
}